:root {
  --backgroundColour: #FBFEF9;
  --textColour: #4E4B5C;
  --highlightColour: #00B4D8;
  --correctColour: #6DAE47;
  --wrongColour: #F50031;
}

.App {
  text-align: center;
  background-color: var(--backgroundColour);
  /* font-family: 'Inconsolata', monospace; */
  font-family: 'Special Elite', cursive;
  color: var(--textColour);
}

.Header {
  padding: 20px;
  font-size: 60px;
  font-weight: bold;
  text-decoration-line: underline;
  text-align: center;
  text-transform: uppercase;
}

.highlight {
  color: var(--highlightColour);
  text-decoration: none;
  font-style: normal;
}